@import url(./null.css);
@import url(./fonts.css);
body {
    font-family: 'Myriad_Pro_Light_SemiExt_Regular';
    background-color: #e8e7e7;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
}

.page {
    max-width: 1920px;
    margin: 0px auto;
}

.header {
    width: 100%;
}

.header__sup-menu {
    height: 48px;
    background-color: #00aa4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sup-menu {
    width: 80.36%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sup-menu li {
    padding: 17px 5px;
}

.sup-menu li:hover {
    background-color: rgba(255, 255, 255, 0.205);
}

.sup-menu__link {
    color: #ffffff;
}

.sup-menu__copy li a {
    color: #ffffff;
}

.emal-copy li:hover {
    background-color: transparent;
}

.emal-copy {
    position: relative;
}

.btn-copy {
    display: none;
    position: absolute;
    width: 163px;
    height: 45px;
    box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.49);
    border-radius: 23px;
    background-color: #232323;
    display: none;
    justify-content: center;
    align-items: center;
    left: -15px;
    color: #fff;
}

.sup-menu__phone-info {
    width: 754px;
    height: 364px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sup-menu__phone {
    position: relative;
}

.sup-menu__phone-wrapper {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 87%;
}

.sup-menu__phone-leftblock {
    width: 41.86%;
}

.sup-menu__phone-rightblock {
    width: 40.3%;
}

.sup-menu li:hover .sup-menu__phone-info {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    z-index: 100;
    /* pointer-events: all; */
}

.left-block__top {
    margin-bottom: 30px;
}

.left-block__top-title {
    color: #1eb460;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.left-block__top-text {
    color: #a5a5a5;
}

.left-block__bot-phone {
    display: flex;
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.phone__text {
    margin-left: 10px;
    border-bottom: 1px solid transparent
}

.phone__text:hover {
    border-bottom: 1px solid #bababa;
}

.sup-menu__phone-rightblock {
    display: flex;
    flex-direction: column
}

.right-block__top {
    margin-bottom: 30px;
}

.right-block__top-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.right-block__top-text {
    color: #a5a5a5;
}

.right-block__middle {
    display: flex;
    flex-direction: column
}

.right-block__middle-input {
    border-bottom: 1px solid #bababa;
    margin-bottom: 15px;
    margin-top: 10px;
}

.right-block__middle-input:focus {
    border-bottom: 1px solid #ffaf2d;
}

.right-block__btn {
    padding: 14px 24px;
    background-color: #ffaf2d;
    width: 133px;
    border-radius: 23px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__main-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.main-menu {
    width: 80.36%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-part a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-part__logo {
    margin-right: 8px;
}

.logo-part__site-name {
    font-size: 33px;
    color: #171717;
    font-weight: 400;
}

.search-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57.35%;
    height: 35px;
}

.select {
    position: relative;
    height: 35px;
    flex: 1 0 auto;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    display: flex;
    /* border: 1px solid #cccc; */
    cursor: pointer;
    flex: 1 0 auto;
    background-color: #f1f1f1;
}

.select__icon {
    height: 35px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 5px;
}

.select__current {
    font-size: 18px;
    line-height: 24px;
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #8d8d8d;
}

.select__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    border-top: 0;
    display: none;
    width: 215px;
    padding: 8px;
    background-color: #f1f1f1;
}

.select__сhoice {
    color: #8c8c8c;
    font-size: 16px;
}

.select__item {
    line-height: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 0;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.search-part__search {
    flex: 0 1 87%;
    height: 100%;
    padding-left: 10px;
}

.search-part__btn {
    flex: 0 1 6.5%;
    height: 100%;
    background-color: #ffaf2d;
    color: #ffff;
    font-size: 22px;
}

.portal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.7%;
}

.portal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portal__icon {
    flex: 0 0 30%;
}

.portal__text {
    flex: 0 0 76%;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 100%;
}

.cart:hover {
    background-color: #ffaf2d;
    color: #fff;
}

.cart:hover .cart__count {
    color: #fff;
}

.cart:hover .cart__text {
    color: #fff;
}

.cart__counter {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart__count {
    color: #ffaf2d;
}

.cart__icon {
    font-size: 23px;
}

.cart__sum {
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.cart__text {
    color: #8d8c8c;
}

.header__sub-menu {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
    position: relative;
    box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
}

.sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80.36%;
}

.sub-menu__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sub-menu__item:hover {
    box-shadow: 2px -2px 5px 0px #999;
}

.sleeping-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 1141px;
    height: 613px;
    display: none;
    justify-content: space-between;
}

.sleeping-menu__categories {
    flex: 0 0 35.05%;
}

.sleeping-menu__categories .categories__block {
    height: 7.7%;
}

.sleeping-menu__brands {
    flex: 0 0 28.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 104px 31px;
    background-color: rgba(241, 241, 241, 0.6);
    ;
}

.brands {}

.brands__top-block {
    color: #303030;
    font-size: 18px;
    border-bottom: 1px solid #bababa;
}

.brands__top-block div {
    padding: 13px 0 0 0;
    cursor: pointer;
}

.brands__top-block div:hover {
    color: #ffaf2d;
}

.brands__top-block div:last-child {
    margin: 0px 0px 20px 0px;
}

.brands__main-block {
    font-size: 24px;
    border-bottom: 1px solid #bababa;
}

.brands__main-block div:last-child {
    margin: 0px 0px 20px 0px;
}

.brands__main-block div:first-child {
    color: #777777;
    font-size: 18px;
    padding-bottom: 9px;
    padding-top: 20px;
    /* margin: -20px 0px 0px 0px; */
}

.brands__main-block div:first-child:hover {
    color: #777777;
    cursor: default;
}

.brands__main-block div:hover {
    color: #ffaf2d;
}

.brands__main-block div {
    padding: 13px 0 0 0;
    cursor: pointer;
    color: #303030;
}

.brands__bot-block div:first-child {
    color: #777777;
    cursor: default;
    font-size: 18px;
    padding-top: 20px;
}

.brands__bot-block div:first-child:hover {
    color: #777777;
    cursor: default;
}

.brands__bot-block div:last-child {
    margin: 0px 0px 20px 0px;
}

.brands__bot-block div {
    font-size: 18px;
    padding-bottom: 9px;
    color: #303030;
    padding-top: 10px;
    cursor: pointer;
}

.brands__bot-block div:hover {
    color: #ffaf2d;
}

.brands__bot-block {
    border-bottom: 1px solid #bababa;
}

.sleeping-menu__image {
    flex: 0 0 38.65%;
    background-color: #00aa4b;
    padding: 57px 67px 60px 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
}

.image-block {}

.image-block__img {}

.image-block__title {
    font-size: 24px;
    color: #ffffff;
    padding-top: 44px;
    margin: 0px 0px 17px 0px;
}

.image-block__btn {
    width: 129px;
    height: 35px;
    border-radius: 5px;
    background-color: #ffaf2d;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item__img {
    margin: 0px 0px 10px 0px;
}

.item__text {
    color: #343434;
}

.header__detailed-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed-menu {
    width: 80.36%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.detailed-menu__wrapper {
    width: 100%;
    height: 79.3%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed-menu__categories {
    width: 19.6%;
    height: 100%;
    /* border: 1px solid green; */
}

.detailed-menu__categories:hover {
    background-color: #fff;
}

.detailed-menu__sale {
    width: 19.35%;
    height: 100%;
    border-radius: 2px;
    border: 2px solid #ffaf2d;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.sale__block {
    /* border: 1px solid red; */
    height: 205px;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 25px;
}

.sale__img {
    width: 100%;
}

.sale__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sele__sup-title {
    color: #121212;
    margin: 0px 0px 10px 0px;
}

.sele__sub-title {
    font-size: 40px;
}

.sale__link {
    width: 100%;
    color: #ffaf2d;
    cursor: pointer;
}

.detailed-menu__partners {
    width: 100%;
    height: 16.83%;
    /* border: 1px solid black; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__wrapper img {
    cursor: pointer;
}

.partners__link {
    font-size: 18px;
    color: #232323;
    cursor: pointer;
}

.categories__title {
    font-size: 24px;
    color: #ffaf2d;
    height: 10%;
    padding: 30px 0 30px 27px;
}

.categories__block {
    height: 9.5%;
    width: 100%;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.borderzero {
    border-bottom: 0;
}

.categories__wrapper {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #303030;
}

.category__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories__wrapper:hover {
    color: #ffaf2d;
}

.detailed-menu__slider {
    width: 58.19%;
    height: 100%;
    /* border: 1px solid blue; */
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    margin: 174px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__container {
    max-width: 1412px;
    width: 1412px;
}

.news-manufacturers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 799px;
    justify-content: space-between;
}

.news-manufacturers__title {
    color: #121212;
    font-size: 40px;
}

.news-manufacturers__main-block {
    height: 590px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.manufacturers-main-block__left {
    flex: 0 0 34.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.manufacturers-main-block__right {
    flex: 0 0 58.07%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block-right__new {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.main-block-right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    padding-left: 20px;
}

.main-block-left__date {
    display: flex;
    justify-content: space-between;
}

.main-block-left__date div:first-child {
    color: #00aa4b;
    font-weight: 300;
}

.main-block-left__date div:last-child {
    color: #777777;
    font-weight: 300;
}

.main-block-left__title {
    font-size: 24px;
    font-weight: 600;
}

.main-block-left__text {
    font-weight: 300;
    line-height: 21px;
}

.news-manufacturers__btn {
    width: 167px;
    height: 35px;
    border-radius: 17px;
    border: 2px solid #121212;
    color: #121212;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.news-manufacturers__btn:hover {
    background-color: #ffaf2d;
}

.recomendation {
    margin: 145px 0px 65px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89px;
}

.recomendation__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 658px;
}

.recomendation__title {
    font-size: 40px;
    color: #232323;
}

.recomendation__text {
    color: #787878;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}

.equipment {
    width: 1412px;
    height: 745px;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 171px 0px;
}

.parokonvectomati {
    width: 42.06%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: #fff;
}

.parokonvectomati__top-block {
    color: #121212;
    margin: 69px 155px 30px 155px;
    text-align: center;
}

.parokonvectomati__sup-title {
    /* color: #121212; */
    font-size: 20px;
    margin: 0px 0px 14px 0px;
    text-transform: uppercase;
}

.parokonvectomati__title {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 27px 0px;
}

.parokonvectomati__text {
    color: #777777;
    font-size: 16px;
    line-height: 1.2;
}

.parokonvectomati__img {
    display: block;
    margin: 0 auto;
}

.heat-equipment {
    width: 55.5%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heat-equipment__top-block {
    width: 100%;
    height: 56.24%;
    /* border: 1px solid red; */
    background-color: #232323;
    display: flex;
    justify-content: space-between;
}

.heat-equipment__right-block {
    width: 100%;
    height: 100%;
    color: #ffff;
    margin: 121px 143px 126px 55px;
}

.heat-equipment__sup-title {
    font-size: 20px;
    margin: 0px 0px 14px 0px;
    text-transform: uppercase;
}

.heat-equipment__title {
    font-size: 30px;
    margin: 0px 0px 26px 0px;
    font-weight: 600;
}

.heat-equipment__text {
    color: #777777;
    font-size: 16px;
    line-height: 1.2;
}

.heat-equipment__bot-block {
    width: 100%;
    height: 42.4%;
    /* border: 1px solid red; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.heat-equipment__bot-block .heat-equipment__right-block {
    margin: 96px 48px 67px 63px;
}

._color-black {
    color: #000;
}

.infomation {
    width: 1412px;
    height: 612px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.infomation__suggestions {}

.suggestions {
    color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58.8%;
    height: 80%;
}

.suggestions__title {
    font-size: 40px;
    font-weight: 600;
}

.suggestions__text {
    line-height: 1.3;
}

.suggestions__btn {
    width: 49px;
    height: 49px;
    background-color: #232323;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.infomation__about-company {
    width: 23.5%;
    /* margin: 0px 0px 0px 258px; */
}

.about-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.about-company__top-block {}

.about-company__top-block div:first-child {
    font-size: 40px;
    font-weight: 600;
}

.about-company__top-block div:last-child {
    color: #777777;
}

.about-company__main-block div:first-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.about-company__main-block div:last-child {
    color: #777777;
}

.about-company__bot-block {
    line-height: 1.5;
    color: #121212;
    font-weight: 300;
}

.footer {
    height: 600px;
}

.footer__top {
    width: 100%;
    height: 81%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}

.footer__top-wrapper {
    display: flex;
    width: 1412px;
    justify-content: space-between;
}

.footer__top-block {
    display: flex;
    flex-direction: column;
}

.footer__top-block-title {
    font-size: 24px;
    color: #777777;
    margin: 0px 0px 35px 0px;
}

.footer__top-block-links {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    color: #fff;
}

.footer__top-block-links a {
    color: #fff;
    font-family: 'SFUIDisplay-Light';
}

.footer__top-block-links a:hover {
    color: #ffaf2d;
}

.footer__top-block-links div {
    font-family: 'SFUIDisplay-Light';
    margin: 0px 0px 25px 0px;
}

/* .footer__top-block-links div:hover {
    color: #ffaf2d;
} */

.footer__bot {
    width: 100%;
    height: 19%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.footer__bot-wrapper {
    width: 1412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bot-left-block {
    display: flex;
    align-items: center;
}

.footer__bot-right-block {
    color: #fff;
    font-size: 18px;
}

.footer__bot-sitename {
    font-size: 24px;
    color: #fff;
    margin: 0px 0px 0px 10px;
}

@media (min-width:767px) {
    .sup-menu__phone-info {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
    }
}

}

}